<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>

    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./assets/css/home.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-dark-primary text-white">

    <div class="flex gap-5 flex-wrap" id="root">
        
        <%- include('sidemenu') %>
        
        <%- include('main-game') %>

        <%- include('control-sidebar') %>

        
    </div>


    <script src="./assets/js/utils.js"></script>
    <script src="./assets/js/config.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="./assets/js/socket.js"></script>
    <script type="module" src="./assets/js/home.js"></script>



    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark: {
                            primary: '#302E2B',
                            secondary: '#262522',
                            tertiary: '#494846',

                            primaryButton: '#6380b5',
                            secondaryButton: '#1E1E1B',
                            dangerButton: '#7a001d',
                        }
                    }
                }
            }
        }
    </script>


</body>

</html>