/* .square-55d63 */
body {
    user-select: none;
}

html, body, #root{
    height: 100%;
}

.h-fill{
    min-height: -webkit-fill-available;
    height: 100%;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-black {
    box-shadow: inset 0 0 3px 3px red;
}

.activeTimer {
    box-shadow: inset 0 0 0 2px #6380b5;
}